.node {
	display: block;
	border: 1px solid rgb(39, 34, 41);
	height: 28px;
	width: 28px;

	&:hover {
		background-color: rgb(199, 199, 199);
	}

	&.end {
		background-color: red;
	}

	&.start {
		background-color: green;
	}

	&.wall {
		background-color: rgb(0, 0, 0);
	}
}

.node-visited {
	animation-name: visitedNodeAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes visitedNodeAnimation {
	0% {
		transform: scale(0.3);
		background-color: #241342;
		border-radius: 100%;
	}
	50% {
		background-color: #c36fce;
	}
	75% {
		transform: scale(1.2);
		background-color: #6e75d1;
		border: 1px solid #6e75d1;
	}
	100% {
		transform: scale(1);
		background-color: #9868f1;
		border: 1px solid #4d3d6b;
	}
}

.node-shortest-path {
	animation-name: shortestPath;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes shortestPath {
	0% {
		transform: scale(0.6);
		background-color: #e9a7f1;
		border: 1px solid #ce84d6;
	}

	50% {
		transform: scale(1.2);
		background-color: #e9a7f1;
		border: 1px solid #b059b9;
	}

	100% {
		transform: scale(1);
		background-color: #f8d6fb;
		border: 1px solid #8c2497;
	}
}

.right-click {
	position: absolute;
	background: #fff;
	border: 1px solid rgb(212, 212, 212);
	border-radius: 4px;
}
.right-click-option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: default;
}
.right-click-option:hover {
	background: skyblue;
	color: white;
}
